@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'NotoSansKRBold';
  src: url('@/assets/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
}

:root {
  --background-color: #f5f5f5;
  --font: 'NotoSansKRBold' Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  --font-weight: 800;
  --title: 1.6rem bold;

  --input-border: 2px solid #b4b4b4;
  --input-background: white;
  --input-border-radius: 5px;
  --input-textarea-width: 330px;
  --input-height: 2.5rem;
  --input-padding: 5px 10px;
  --input-font-color: #dadada;
  --input-font-size: 0.8rem;

  --button-background: #1bb0e7;
  --button-border-radius: 7px;
  --button-border: 0px;
  --button-font-color: white;
  --button-width: 160px;
  --button-height: 2rem;

  --input-label-width: 6rem;

  --preview-button-background: #1bb0e7;
  --preview-button-width: 10rem;
  --preview-button-height: 2rem;
  --preview-button-color: white;
  --preview-button-radius: 7px;

  --input-radio-label-background: white;
  --input-radio-label-background-checked: #1bb0e7;
  --input-radio-label-font-color: #1bb0e7;
  --input-radio-label-font-color-checked: white;
  --input-radio-label-radius: 7px;
  --input-radio-lable-border: 0px;
}

* {
  font-family: var(--font);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

input,
textarea {
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.user-input-value,
.user-input-textarea {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background: var(--input-background);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
}

.user-input-value::placeholder,
.user-input-textarea::placeholder {
  color: var(--input-font-color);
}

.user-input-value,
.user-input-radio {
  width: var(--input-textarea-width);
  height: var(--input-height);
}

.user-input-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-input-textarea {
  width: var(--input-textarea-width);
  resize: none;
}

.submit-button {
  width: var(--button-width);
  height: var(--button-height);
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  color: var(--button-font-color);
}

.user-input-label {
  width: var(--input-label-width);
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight);
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
  width: var(--input-textarea-width);
}

.program-title-word {
  font: var(--title);
  font-weight: var(--font-weight);
}

.program-title,
.program-icon {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type='radio'] {
  display: none;
}

.radio-label-button {
  background-color: var(--input-radio-label-background);
  color: var(--input-radio-label-font-color);
  border-radius: var(--input-radio-label-radius);
  border: var(--input-radio-lable-border);
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

.radio-label-button-checked {
  background-color: var(--input-radio-label-background-checked);
  color: var(--input-radio-label-font-color-checked);
  border-radius: var(--input-radio-label-radius);
  border: var(--input-radio-lable-border);
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

.reset-button-container {
  width: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reset-button {
  margin-top: 10px;
  background: #f0f0f0;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 6px;
  font: 18px;
  font: #050505;
}

/* fileUpload */
.file-container {
  width: 100%;
}

.file-container label {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  color: #050505;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 6px;
}

.file-container label i {
  margin: 0 4px;
}

.file-container input[type='file'] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.preview-pages {
  display: flex;
  align-items: center;
  justify-content: center;
}
